upstream MyApp {
  # server is nginx service name from docker-compose.yml
  server        MyApp_nginx;
}

server {
  listen        443 ssl;
  # server_name is the domen from /etc/hosts
  server_name   myapp.local;
  include       /etc/nginx/conf.d/common.conf;
  include       /etc/nginx/conf.d/ssl.conf;

  location / {
  # proxy_pass is http://upstream name
    proxy_pass  http://MyApp;
    include     /etc/nginx/conf.d/common_location.conf;
  }
}
